<section class="default-content">
  <section class="content">
    {% if block.Title %}
      <h3>{{ block.Title | safe }}</h3>
    {% endif %} 
    {{ block.Content | pathPrefix | safe }} 
  </section>
  {% if block.Explanations | dump !== '[]' %}
      <section class="extras">
          {% for extra in block.Explanations %}
              {{ explanation(extra.Title, extra.Content, extra.type) }}
          {% endfor %}
      </section>
  {% endif %}
</section>
