<section class="image-content">
    <img class="{{ block.title | slug}}" src="{{ block.image | url }}" alt="{{ block.imageAlt }}" />
    <section class="content">
        {% for item in block.blocks %}
            {% if item.title %}
                <h3>{{ item.title | safe }}</h3>
            {% endif %}
            {{ item.content | safe }}
        {% endfor %}
    </section>
</section>