<section class="image-content">
    <picture class="img-container">
        <img class="{{ block.Title | slugify }}" src="{{ block.Image | url }}" alt="{{ block.ImageAlt }}" />
    </picture>
    <section class="content">
        {{ block.Content | pathPrefix | safe }}

        {% if block.Tabs | dump !== '[]' %}
            {{ tabs(block.Tabs) }}
        {% endif %}

    </section>
    {% if block.Explanations | dump !== '[]' %}
        <section class="extras">
            {% for extra in block.Explanations %}
                {{ explanation(extra.Title, extra.Content, extra.type) }}
            {% endfor %}
        </section>
    {% endif %}
</section>