{% from "./explanation.macro.njk" import explanation %}
{% from "./tabs.macro.njk" import tabs %}

<div class="documentation-block" id="{{ block.Title | slugify }}">
  <article class="{{ doc.Color | slugify }}">
    <header>
      <h2>{{ block.Title }}</h2>
    </header>
    {% if block.Type === 'default-block' %} 
      {% include "documentation-default-content.njk" %} 
    {% endif %} 
    {% if block.Type === 'image-block' %} 
      {% include "documentation-image-content.njk" %} 
    {% endif %} 
    {% if block.Type === 'tabs-block'%} 
      {% include "documentation-tabs-content.njk" %} 
    {% endif %}
  </article>
</div>
