<footer class="footer">
    <section class="footer-content">
        <ul class="link-list">
            <li><a href=""><img src="{{ '/images/icon-github.svg' | url }}" alt=""> Repository</a></li>
            <li><a href=""><img src="{{ '/images/icon-bug.svg' | url }}" alt="">Report an issue</a></li>
            <li><a href=""><img src="{{ '/images/icon-chat.svg' | url }}" alt="">Discussion</a></li>
            <li><a href=""><img src="{{ '/images/icon-coffee.svg' | url }}" alt="">Buy me some coffee</a></li>
        </ul>
    </section>
</footer>