<a class="home-post {{ post.Color }}" href="{{ post.Url }}">
    <article class="{{ post.Color }}">
        <header>
            <img src="{{ post.Image }}" alt="" class="image"/>
            <img src="{{ '/images/logo-only.svg' }}" alt="" class="logo"/>
        </header>
        <section class="content">
            <section class="title">{{ post.Title}}</section>
            <section>
                {{ post.Content | strip }}
            </section>
        </section>
    </article>
</a>