<footer class="home-footer">
    <section class="content">
        <ul class="link-list">
            <li><a href="https://github.com/navelpluisje/Reasonus-Native"><img src="{{ '/images/icon-github.svg' | url}}" alt=""> Repository</a></li>
            <li><a href="https://github.com/navelpluisje/Reasonus-Native/issues"><img src="{{ '/images/icon-bug.svg' | url}}" alt="">Report an issue</a></li>
            <li><a href="https://forum.cockos.com/showthread.php?t=267116"><img src="{{ '/images/icon-chat.svg' | url}}" alt="">Discussion</a></li>
            <li><a href="https://buymeacoffee.com/navelpluisje"><img src="{{ '/images/icon-coffee.svg' | url}}" alt="">Buy me some coffee</a></li>
        </ul>
        <div class="coffee">
            <a href="" class="coffee-link">
                <img src="{{ '/images/coffee-qr.webp' | url }}" alt="">
            </a>
        </div>
    </section>
</footer>