<header class="home-header">
    <section class="background">
    </section>
    <section class="image">
        <img src="/images/logo.webp" alt="" class="logo">
        <img src="/images/Faderport8-header-large.webp" alt="" class="device" />
    </section>
    <section class="content">
        <Heading>{{ home.title }}</Heading>
        <p>{{ home.description }}</p>
        <a class="button" href="/documentation">{{ home.documenationButton }}</a>
    </section>
</header>
