<header class="home-header">
    <section class="background"></section>
    <section class="image">
        <img src="{{ '/images/logo.webp' | url }}" alt="" class="logo">
        <img src="{{ '/images/Faderport8-header-large.webp' | url}}" alt="" class="device"/>
    </section>
    <section class="content">
        <header>{{ home.Title }}</header>
        <p>{{ home.Content | pathPrefix | safe }}</p>
        <a class="button" href="{{ home.ButtonUrl | url }}">{{ home.Button }}</a>
    </section>
</header>