<footer class="home-footer">
    <section class="content">
        <ul class="link-list">
            <li><a href=""><img src="/images/icon-github.svg" alt=""> Repository</a></li>
            <li><a href=""><img src="/images/icon-bug.svg" alt="">Report an issue</a></li>
            <li><a href=""><img src="/images/icon-chat.svg" alt="">Discussion</a></li>
            <li><a href=""><img src="/images/icon-coffee.svg" alt="">Buy me some coffee</a></li>
        </ul>
        <div class="coffee">
            <a href="" class="coffee-link">
                <img src="/images/coffee-qr.webp" alt="">
            </a>
        </div>
    </section>
</footer>