{% css %}
{% include "styles/post-extras.css" %}
{% endcss %}
<article class="post-extras {{ post.Color }}">
    <dl>
        <dt>Published:</dt>
        <dd>{{ post.PublishedAt }}</dd>
    </dl>
    <dl>
        <dt>Author:</dt>
        <dd>Erwin Goossen</dd>
    </dl>
    <dl>
        <dt>Tags:</dt>
        <dd>{{ post.tags |join(', ') }}</dd>
    </dl>
    <dl>
        <dt>Subscribe:</dt>
        <dd>
            <a href="{{ '/feed.xml' }}">RSS</a>
        </dd>
    </dl>
</article>