{% css %}
{% include "styles/posts-block.css" %}
{% endcss %}
<article class="posts-block {{ post.Color }}">
    <header>
        <img src="{{ post.Image }}" alt="" class="image"/>
        <img src="{{ '/images/logo-only.svg' }}" alt="" class="logo"/>
    </header>
    <section class="content">
        <section class="title">{{ post.Title }}</section>
        <section>
            {{ post.Content | strip }}
        </section>
        <a href="{{ post.Url }}" class="button">Read more</a>
    </section>
</article>