{% from "./explanation.macro.njk" import explanation %}
{% macro tabs(tabs) %}
    <section class="tabs-macro">
        <section class="tab-bar">
            {% for tab in tabs %}
                <button data-id="{{ tab.Id | slugify }}">{{ tab.Title }}</button>
            {% endfor %}
        </section>
        <section class="tab-content">
            {% for tab in tabs %}
                <section class="tab {{ tab.Title | slugify }}" data-id="{{ tab.Id | slugify }}">
                    {{ tab.Content | pathPrefix | safe }}
                    {% if tab.Explanations | dump !== '[]' %}
                        <section class="extras">
                            {% for extra in tab.Explanations %}
                                {{ explanation(extra.Title, extra.Content, extra.type) }}
                            {% endfor %}
                        </section>
                    {% endif %}
                </section>
            {% endfor %}
        </section>
    </section>
{% endmacro %}