.image-content {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "image" "content" "extras";
    border-radius: 1rem;
    background-color: white;
    z-index: 1;
    box-shadow: 0 -.5rem .5rem -.5rem rgba(0,0,0,.5);
    
    .img-container {
        grid-area: image;
        text-align: center;
        
        img {
            justify-self: center;
            border-radius: .75rem;
            position: sticky;
            max-width: 100%;
            max-height: 22rem;
            top: 0;
            bottom: 1rem;
            cursor: pointer;

            &.general-controlls,
            &.mix-management {
                max-width: 10rem;
                max-height: auto;
            }
        }
    }
    
    .content {
        grid-area: content;
    }

    .extras {
        grid-area: extras;
    }
}

@media (min-width: 786px) {
    .image-content {
        grid-template-columns: 20rem 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "image content" "extras extras";
    }
}

@media (min-width: 1024px) {
    .image-content {
        .img-container img {
            max-height: initial;
        }
    }
}