.documentation-page {
    height: 100vh;
    display: grid;
    grid-template-rows: var(--header-height) 1fr auto;
    grid-template-columns: 100%;
    overflow: hidden;
    
    .header {
        grid-area: 1/1/2/2;
        width: 100%;
        top: 0;
        z-index: 2;
    }
    
    
    .center {
        grid-area: 2/1/3/2;
        display: grid;
        width: 100%;
        max-width: 1200px;
        grid-template-columns: var(--menu-width) 1fr;
        margin: 0 auto;
        overflow: scroll;
    }
    
    .page-content {
        grid-area: 1/2/2/3;
        overflow: scroll;
        padding: 2rem 1rem 1rem;
    }
    
    .footer {
        grid-area: 3/1/4/2;
    }
}
    