.documentation-page {
    height: 100vh;
    display: grid;
    grid-template-rows: var(--header-height) 1fr auto;
    grid-template-columns: 100%;
    overflow: hidden;
    
    > .header {
        grid-area: 1/1/2/2;
        width: 100%;
        top: 0;
        z-index: 2;
    }
    
    
    > .center {
        grid-area: 2/1/3/2;
        display: grid;
        width: 100%;
        max-width: 1200px;
        grid-template-columns: 0 100vw;
        margin: 0 auto;
        overflow: scroll;
        overflow-x: hidden;
        transition: grid-template-columns .3s ease;
        
        &.show-menu {
            grid-template-columns: var(--menu-width) 100vw;
        }
    }
    
    .page-content {
        grid-area: 1/2/2/3;
        overflow: scroll;
        padding: 2rem 1rem 1rem;
    }
    
    > .footer {
        grid-area: 3/1/4/2;
    }

    code {
        word-break: break-all;
    }
}

@media screen and (min-width: 1024px) {
    .documentation-page {
        > .center {
            grid-template-columns: var(--menu-width) 1fr;

            &.show-menu {
                grid-template-columns: var(--menu-width) 1fr;
            }

        }
    }

}

    