.explanation-macro {
    border-radius: 1rem;
    border: 2px solid var(--accent-color);
    background-color: var(--background);
    padding: 1rem;
    margin-top: 1rem;

    header {
        position: relative;
        top: unset;
        bottom: unset;
    }

    h4 {
        font-family: var(--font-heading);
        font-weight: 300;
        font-size: 1.25rem;
        display: inline-block;
        padding-bottom: .25rem;
        margin-bottom: .5rem;
        border-bottom: 2px solid var(--accent-color);
    }

    img {
        position: relative;
        height: 5rem;
        margin: .5rem 0 .75rem;
    }
}