.header {
    background-color: var(--jonquil);
    display: flex;
    height: var(--header-height);
    align-items: center;
    justify-content: center;
    box-shadow: 0 .25rem .5rem -.25rem rgba(0,0,0,.5);
    border-radius: 0 0 1rem 1rem;

    .logo {
        --logo-width: 10rem;
    
        width: var(--logo-width);
        filter: drop-shadow(0 0 0.125rem var(--black-30));
    }

    
}

@media screen and (min-width: 1024px) {
    .header {
        .logo {
            --logo-width: 12rem;
        }
    }
}
