.home-footer {
    background-color: var(--jonquil);
    min-height: 12rem;
    padding: 2rem 1rem;
    position: relative;

    &::after {
        content: '';
        background-color: var(--background);
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        height: 1rem;
        position: absolute;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 .25rem .5rem -.25rem rgba(0,0,0,.5);
    }

    .content {
        display: grid;
        grid-template-columns: auto 1fr auto;
        max-width: 1124px;
        margin: 0 auto;
        align-items: center;
    }

    .link-list {
        grid-area: 1/1/2/2;
        list-style: none;
        padding: 0;
        columns: 2;

        li {
            margin: 0 0 .5rem;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--black);
            font-weight: 400;
        }

        img {
            height: 2.25rem;
            width: 2.25rem;
            margin-right: .5rem;
        }

        img.large {
            height: 3.25rem;
            width: auto;
            margin-right: .5rem;
        }
    }

    .coffee {
        grid-area: 1/3/2/4;
    }

    .coffee-link {
        display: block;
        height: 7.25rem;
        width: 7.25rem;
    }

}