.posts-page {
    height: 100vh;
    display: grid;
    grid-template-rows: var(--header-height) 1fr auto auto;
    grid-template-columns: 100%;
    overflow: hidden;
    
    > .header {
        grid-area: 1/1/2/2;
        width: 100%;
        top: 0;
        z-index: 2;
    }
    
    
    > .center {
        padding: 2rem 1rem 0;
        grid-area: 2/1/3/2;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: scroll;
    }
    
    .posts-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        grid-align-items: start;
        gap: 2rem;

    }

    > .footer {
        grid-area: 4/1/5/2;
    }
    
    > .pagination {
        grid-area: 3/1/4/2;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 2rem;
        justify-content: center;
    
        a {
            color: var(--battleship-gray);
            font-weight: 600;
        }
        
        .next-page {
            text-align: end;
        }
        
        .position {
            color: var(--tomato);
            font-weight: 600;
        }
    }
}

    