{% macro explanation(title, content = [], type='explanation') %}
    <article class="explanation-macro {{ type }}">
        <header>
            <h4>{{ title | safe }}</h4>
        </header>
        <section>
            {% for contentItem in content %}
                {{ contentItem.Content | pathPrefix | safe }}
                {% if contentItem.Image %}
                    <img class="{{ titleitle | slugify }}" src="{{ contentItem.Image }}" alt="{{ contentItem.ImageAlt }}"/>
                {% endif %}
            {% endfor %}
        </section>
    </article>
{% endmacro %}