---
layout: base.njk

---

{% css %}
{% include "styles/documentation.css" %}
{% endcss %}
<section class="documentation-page">
  {% include "header.njk" %}
  <section class="center">
    {% include "menu.njk" %}
    <section class="page-content">
      {% for block in doc.Blocks %}
        {{ loop.index }}
        {{ doc.Blocks[loop.index - 1].Title }}
        {{ loop.length }}
        {% include "documentation-block.njk" %}
      {% endfor %}
    </section>
  </section>
  {% include "footer.njk" %}
</section>