---
layout: base.njk

---

{% js %}
{% include "javascript/menu.js" %}
{% endjs %}
{% css %}
{% include "styles/documentation.css" %}
{% endcss %}
<section class="documentation-page">
  {% include "header.njk" %}
  <section class="center">
    {% include "menu.njk" %}
    <section class="page-content">
      {% for block in doc.Blocks %}
        {% include "documentation-block.njk" %}
      {% endfor %}
    </section>
  </section>
  {% include "footer.njk" %}
</section>