---
layout: base.njk
---
{% css %}
    {% include "styles/documentation.css" %}
    {% include "styles/documentation-block.css" %}
    {% include "styles/documentation-image-content.css" %}
    {% include "styles/documentation-tabs-content.css" %}
    {% include "styles/menu.css" %}
    {% include "styles/header.css" %}
    {% include "styles/menu.css" %}
    {% include "styles/footer.css" %}
    {% include "styles/explanation.macro.css" %}
{% endcss %}

<section class="documentation-page">
    {% include "header.njk" %}
    <section class="center">
        {% include "menu.njk" %}
        <section class="page-content">
            {% for x, block in doc.blocks %}
                {% include "documentation-block.njk" %}
            {% endfor %}
        </section>
    </section>
    {% include "footer.njk" %}
</section>


