---
layout: base.njk
---

{% css %}
    {% include "styles/home.css" %}
    {% include "styles/home-block.css" %}
    {% include "styles/home-header.css" %}
    {% include "styles/home-footer.css" %}
{% endcss %}

<section class="home-page">
    {% include 'home-header.njk' %}

    <section class="home-main">
        {% for item in home.Highlights %}
            {% include 'home-block.njk' %}
        {% endfor %}
    </section>
    
    {% include "home-footer.njk" %}
</section>


