---
layout: base.njk
---

{% css %}
{% include "styles/posts.css" %}
{% include "styles/posts-block.css" %}
{% endcss %}
<section class="posts-page">
  {% include "header.njk" %}
  <section class="center">
    <section class="content">
      {% for post in posts %}
        {% include "posts-block.njk" %}
      {% endfor %}
      {% for post in posts %}
        {% include "posts-block.njk" %}
      {% endfor %}
      {% for post in posts %}
        {% include "posts-block.njk" %}
      {% endfor %}
      {% for post in posts %}
        {% include "posts-block.njk" %}
      {% endfor %}
      {% for post in posts %}
        {% include "posts-block.njk" %}
      {% endfor %}
    </section>
  </section>
  {% include "footer.njk" %}
</section>
{# <article>
        <header>
          {{ post.Title }}
        </header>
        <section>
          {{ post.Content | strip }}
        </section>
        <footer>
          <a href="/posts/{{ post.Title | slugify }}">Read more</a>
        </footer>
      </article> #}