---
  layout: documentation.njk
  pagination:
    data: documentation
    size: 1
    alias: doc
  eleventyComputed:
    permalink: "documentation/{{ doc.Slug | slugify }}/"
    title: "ReaSonus :: {{ doc.Title | safe }}"
---

