---
permalink: "rss.xml"
eleventyExcludeFromCollections: true
metadata:
    language: "en"
    title: "ReaSonus Native"
    subtitle: "Information about new ReaSonus Native features, releases and more"
    base: "https://navelpluisje.github.io/reasonus/"
    author:
        name: "Erwin Goossen (Navelpluisje)"
        email: ""
---

<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ metadata.title }}</title>
        <link href="{{ metadata.base }}"/>
        <description>{{ metadata.description }}</description>
        <language>en-us</language>
        <pubDate>{{ posts[0].PublishedDate }}</pubDate>
        <generator>11ty</generator>
        <id>{{ metadata.base | addPathPrefixToFullUrl }}</id>
        <managingEditor>{{ metadata.author.name }}</managingEditor>
        <atom:link href="{{ metadata.base }}rss.xml" rel="self" type="application/rss+xml"/>
        <image>
            <url>{{ metadata.base }}images/Avatar.png</url>
            <title>{{ metadata.title }}</title>
            <link href="{{ metadata.base }}"/>
        </image>
        {%- for post in posts %}
            {%- set absolutePostUrl %}{{ post.Url | htmlBaseUrl(metadata.base) }}{% endset %}
            <item>
                <title>{{ post.Title }}</title>
                <link href="{{ absolutePostUrl }}"/>
                <guid>{{ absolutePostUrl }}</guid>
                <pubDate>{{ post.PublishedDate }}</pubDate>
                <id>{{ absolutePostUrl }}</id>
                <description>
                    {{ post.Content | renderTransforms(post.Content, metadata.base) }}
                </description>
            </item>
        {%- endfor %}
    </channel>
</rss>